- title t('cmtool.action.index.title', :models => Cmtool::Faq.model_name.human.pluralize)
- if @faqs.any?
  %table.index-table
    %thead
      %tr
        %th= Cmtool::Faq.human_attribute_name(:question)
        %th= Cmtool::Faq.human_attribute_name(:answer)
        %th
        %th
    %tbody
      - @faqs.each do |faq|
        %tr
          %td= link_to raw(truncate(faq.question, :length => 40)), cmtool.faq_path(faq)
          %td= link_to raw(truncate(faq.answer, :length => 40)), cmtool.faq_path(faq)
          %td= link_to link_to_edit_content(faq), cmtool.edit_faq_path(faq)
          %td= link_to link_to_destroy_content(faq), cmtool.faq_path(faq), :confirm => are_you_sure(faq), :method => :delete
- else
  = empty_result(Cmtool::Faq)

- content_for :page_links do
  %ul
    %li= link_to link_to_new_content(Cmtool::Faq), cmtool.new_faq_path
