- title :index, Cmtool::Quote
- if @quotes.any?
  %table.index-table.table.table-striped.table-hover
    %thead
      %tr
        %th= Cmtool::Quote.human_attribute_name(:owner)
        %th= Cmtool::Quote.human_attribute_name(:function)
        %th= Cmtool::Quote.human_attribute_name(:active)
        %th= Cmtool::Quote.human_attribute_name(:state)
        %th
        %th
    %tbody
      - @quotes.each do |quote|
        %tr
          %td= quote.owner
          %td= quote.function
          %td= boolean_text quote.active
          %td= quote.state
          = edit_td quote
          = destroy_td quote
- else
  = empty_result(Cmtool::Quote)

- content_for :page_links do
  %ul
    %li= link_to link_to_new_content(Cmtool::Quote), cmtool.new_quote_path, class: ['btn', 'btn-primary']
