!!! Strict
%html{"xml:lang" => I18n.locale, :lang => I18n.locale}
  %head
    %title= site_title
    = csrf_meta_tag
    :javascript
      var tinymce_language = '#{I18n.locale}';
    = stylesheet_link_tag 'cmtool/application'
    = javascript_include_tag 'cmtool/application'
    = yield(:head)
    :javascript
      $(function(){
        //Onload
        #{yield(:onload_javascript)}
      });
  %body
    #page-wrapper
      #header-container= render 'user_info'
      #navigation-container
        #menu-container
          - if user_signed_in?
            %ul
              %li{:class => controller_name == 'pages' ? 'ui-state-active' : 'ui-state-default'}=link_to Page.model_name.human_plural, cmtool.pages_path
              %li{:class => controller_name == 'news' ? 'ui-state-active' : 'ui-state-default'}=link_to Cmtool::News.model_name.human_plural, cmtool.news_index_path
              %li{:class => controller_name == 'keywords' ? 'ui-state-active' : 'ui-state-default'}=link_to Cmtool::Keyword.model_name.human_plural, cmtool.keywords_path
              %li{:class => controller_name == 'faqs' ? 'ui-state-active' : 'ui-state-default'}=link_to Cmtool::Faq.model_name.human_plural, cmtool.faqs_path
              %li{:class => controller_name == 'quotes' ? 'ui-state-active' : 'ui-state-default'}=link_to Cmtool::Quote.model_name.human_plural, cmtool.quotes_path
              %li{:class => %w[contact_forms demo_requests call_requests newsletter_subscriptions].include?(controller_name) ? ['ui-state-active', 'parent'] : ['ui-state-default', 'parent']}
                %span.title= t('cmtool.menu.forms.title')
                %ul.child-menu
                  %li{:class => controller_name == 'contact_forms' ? 'ui-state-active' : 'ui-state-default'}=link_to Cmtool::ContactForm.model_name.human_plural, cmtool.contact_forms_path
                  %li{:class => controller_name == 'newsletter_subscriptions' ? 'ui-state-active' : 'ui-state-default'}=link_to Cmtool::NewsletterSubscription.model_name.human_plural, cmtool.newsletter_subscriptions_path
              %li{:class => controller_name == 'users' ? 'ui-state-active' : 'ui-state-default'}=link_to User.model_name.human_plural, cmtool.users_path
              %li{:class => controller_name == 'images' ? 'ui-state-active' : 'ui-state-default'}=link_to Cmtool::Image.model_name.human_plural, cmtool.images_path
              %li{:class => controller_name == 'directories' ? 'ui-state-active' : 'ui-state-default'}=link_to Cmtool::Directory.model_name.human_plural, cmtool.directories_path
            .clear
        #sub-navigation-container
          = yield :page_links
          .clear
      #title-container
        %h1#title= yield :title
      #content-container
        = render 'alerts'
        #content
          =yield
