!!! Strict
%html{"xml:lang" => I18n.locale, :lang => I18n.locale}
  %head
    %title  Login
    = csrf_meta_tag
    = stylesheet_link_tag 'cmtool/sessions/application'
    = javascript_include_tag 'cmtool/sessions/application'
  %body
    #page-wrapper
      #content-container
        #content
          = render 'cmtool/application/alerts'
          = yield
          .clear
