%h2 Verander wachtwoord
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, "Nieuw wachtwoord"
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Bevestig nieuw wachtwoord"
    = f.password_field :password_confirmation
  .actions
    = f.submit "Verander mijn wachtwoord"
= render :partial => "devise/shared/links"
