%h2 Wachtwoord vergeten?
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.submit "Stuur mij instructies om mijn wachtwoord te vernieuwen"
= render :partial => "devise/shared/links"
