- title :index, Cmtool::Keyword
- if @keywords.any?
  %table.index-table
    %thead
      %tr
        %th= Cmtool::Keyword.human_attribute_name(:name)
        %th
        %th
    %tbody
      - @keywords.each do |keyword|
        %tr
          %td= link_to keyword.name, cmtool.keyword_path(keyword)
          = edit_td keyword
          = destroy_td keyword
- else
  = empty_result(Cmtool::Keyword)

- content_for :page_links do
  %ul
    %li= link_to link_to_new_content(Cmtool::Keyword), cmtool.new_keyword_path
