- title :show, Cmtool::News
- if @news.image?
  #news-image-container
    = link_to image_tag(@news.image.url(:thumb)), @news.image.url
    = link_to t('cmtool.news.remove_image'), cmtool.remove_image_news_path(@news), :method => :delete, :confirm => are_you_sure(), :remote => true
.show_field
  %strong= Cmtool::News.human_attribute_name(:title)
  = @news.title
.show_field
  %strong= Cmtool::News.human_attribute_name(:active)
  = boolean_text @news.active?
.show_field
  %strong= Cmtool::News.human_attribute_name(:date)
  =l @news.date
.show_field
  %strong= Cmtool::Keyword.model_name.human.pluralize
  %ul
    - for keyword in @news.keywords
      %li.keyword_show= keyword.name
.show_field
  %strong= Cmtool::News.human_attribute_name(:body)
  =raw @news.body


- content_for :page_links do
  %ul
    %li= link_to link_to_edit_content(@news), cmtool.edit_news_path(@news)

    %li= link_to link_to_index_content(Cmtool::News), cmtool.news_index_path
