- pages.each do |page|
  %tr
    %td= link_to ' - '*page.tree_depth + page.name, cmtool.edit_page_path(page)
    %td= page.title
    %td.locale{class: "locale-#{page.locale}"}= page.locale
    %td= boolean_text controller.template_exists?("pages/#{page.name}")
    %td= boolean_text page.in_menu?
    %th= page.tree_path.map(&:position).map(&:to_s).join('.')
  - if children = page.children.presence
    = render 'nested_pages', pages: children
