- title t('action.index.title', :model => Page.model_name.human_plural)
%table.index-table
  %thead
    %tr
      %th= Page.human_attribute_name(:name)
      %th= Page.human_attribute_name(:title)
      %th= Page.human_attribute_name(:locale)
      %th= Page.human_attribute_name(:has_view)
      %th= Page.human_attribute_name(:in_menu)
      %th= Page.human_attribute_name(:position)
      %th
      %th
  %tbody
    = render 'nested_pages', pages: Page.full_tree(:nl)
    = render 'nested_pages', pages: Page.full_tree(:en)
    = render 'nested_pages', pages: Page.full_tree(:de)
    = render 'nested_pages', pages: Page.full_tree(:es)

- content_for :page_links do
  %ul
    %li= link_to link_to_new_content(Page), cmtool.new_page_path 
