= form_for [cmtool, @contact_form] do |f|
  = render 'error_messages', :target => @contact_form

  .field
    = f.label :gender
    = f.text_field :gender
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :body
    = f.text_area :body, class: :editor_full
  .actions
    = f.submit @submit || update_button_text(@contact_form)
