- title t('action.index.title', :model => Partner.model_name.human.pluralize)
- if @partners.any?
  %table.index-table
    %thead
      %tr
        %th= Partner.human_attribute_name(:email)
        %th
        %th
    %tbody
      - @partners.each do |partner|
        %tr
          %td= link_to partner.email, [:admin, partner]
          %td= link_to link_to_edit_content(partner), [:edit, :admin, partner]
          %td= link_to link_to_destroy_content(partner), [:admin, partner], :confirm => are_you_sure(partner), :method => :delete
- else
  = empty_result(Partner)

- content_for :page_links do
  %ul
    %li= link_to link_to_new_content(:partner), new_admin_partner_path
