- title t('action.show.title', :model => Partner.model_name.human)
.show_field
  %strong= Partner.human_attribute_name(:email)
  = @partner.email

- content_for :page_links do
  %ul
    %li= link_to link_to_edit_content(@partner), [:edit, :admin, @partner]
    %li= link_separator
    %li= link_to link_to_index_content(:partner), admin_partners_path
